<!DOCTYPE html>
<html lang="ru">

<head>
    <title>ДЗ №1</title>
    <link type="text/css" rel="stylesheet" href="/src/layouts/styles.css" />
</head>

<body>
    <div class="row">
        <div class="grid_search">
            <input class="input_search" placeholder="Введите название организации" type="text">
            <div class="search_img"></div>
        </div>
        <div class='git_repo_tile'>
            <div class="Avatar default_background">
                <div class="repo_first_letter">K</div>
            </div>
            <div class="avatar"></div>
            <div class='Content'>
                <div class='repo_name'>
                    very-long-repository-name-and very long
                </div>
                <div class="org_name">
                    ktsstudio
                </div>
                <div class='params_two'>
                    <label class="star"></label>
                    <div class="t123">
                        123
                    </div>
                    <div class="update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git_repo_tile'>
            <div class="Avatar default_background">
                <div class="repo_first_letter">K</div>
            </div>
            <div class="avatar"></div>
            <div class='Content'>
                <div class='repo_name'>
                    very-long-repository-name-and very long
                </div>
                <div class="org_name">
                    ktsstudio
                </div>
                <div class='params_two'>
                    <label class="star"></label>
                    <div class="t123">
                        123
                    </div>
                    <div class="update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git_repo_tile'>
            <div class="Avatar default_background">
                <div class="repo_first_letter">K</div>
            </div>
            <div class="avatar"></div>
            <div class='Content'>
                <div class='repo_name'>
                    very-long-repository-name-and very long
                </div>
                <div class="org_name">
                    ktsstudio
                </div>
                <div class='params_two'>
                    <label class="star"></label>
                    <div class="t123">
                        123
                    </div>
                    <div class="update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git_repo_tile'>
            <div class="Avatar default_background">
                <div class="repo_first_letter">K</div>
            </div>
            <div class="avatar"></div>
            <div class='Content'>
                <div class='repo_name'>
                    very-long-repository-name-and very long
                </div>
                <div class="org_name">
                    ktsstudio
                </div>
                <div class='params_two'>
                    <label class="star"></label>
                    <div class="t123">
                        123
                    </div>
                    <div class="update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git_repo_tile'>
            <div class="Avatar default_background">
                <div class="repo_first_letter">K</div>
            </div>
            <div class="avatar"></div>
            <div class='Content'>
                <div class='repo_name'>
                    very-long-repository-name-and very long
                </div>
                <div class="org_name">
                    ktsstudio
                </div>
                <div class='params_two'>
                    <label class="star"></label>
                    <div class="t123">
                        123
                    </div>
                    <div class="update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git_repo_tile'>
            <div class="Avatar default_background">
                <div class="repo_first_letter">K</div>
            </div>
            <div class="avatar"></div>
            <div class='Content'>
                <div class='repo_name'>
                    very-long-repository-name-and very long
                </div>
                <div class="org_name">
                    ktsstudio
                </div>
                <div class='params_two'>
                    <label class="star"></label>
                    <div class="t123">
                        123
                    </div>
                    <div class="update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git_repo_tile'>
            <div class="Avatar default_background">
                <div class="repo_first_letter">K</div>
            </div>
            <div class="avatar"></div>
            <div class='Content'>
                <div class='repo_name'>
                    very-long-repository-name-and very long
                </div>
                <div class="org_name">
                    ktsstudio
                </div>
                <div class='params_two'>
                    <label class="star"></label>
                    <div class="t123">
                        123
                    </div>
                    <div class="update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>