<!DOCTYPE html>
<html lang="ru">

<head>
    <title>ДЗ №1</title>
    <link type="text/css" rel="stylesheet" href="/src/layouts/styles.css" />
</head>

<body>
    <div class="row">
        <div class="grid-search">
            <input class="grid-search__input" placeholder="Введите название организации" type="text">
            <div class="grid-search__img"></div>
        </div>
        <div class='git-repo-tile'>
            <div class="git-repo-tile__background">
                <div class="git-repo-tile__background-first-letter">K</div>
            </div>
            <div class="git-repo-tile__avatar"></div>
            <div class='git-repo-tile__content'>
                <div class='git-repo-tile__content-repo-name'>
                    very-long-repository-name-and very long
                </div>
                <div class="git-repo-tile__content-org-name">
                    ktsstudio
                </div>
                <div class='git-repo-tile__content-params-name'>
                    <label class="git-repo-tile__star"></label>
                    <div class="git-repo-tile__num-star">
                        123
                    </div>
                    <div class="git-repo-tile__update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git-repo-tile'>
            <div class="git-repo-tile__background">
                <div class="git-repo-tile__background-first-letter">K</div>
            </div>
            <div class="git-repo-tile__avatar"></div>
            <div class='git-repo-tile__content'>
                <div class='git-repo-tile__content-repo-name'>
                    very-long-repository-name-and very long
                </div>
                <div class="git-repo-tile__content-org-name">
                    ktsstudio
                </div>
                <div class='git-repo-tile__content-params-name'>
                    <label class="git-repo-tile__star"></label>
                    <div class="git-repo-tile__num-star">
                        123
                    </div>
                    <div class="git-repo-tile__update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git-repo-tile'>
            <div class="git-repo-tile__background">
                <div class="git-repo-tile__background-first-letter">K</div>
            </div>
            <div class="git-repo-tile__avatar"></div>
            <div class='git-repo-tile__content'>
                <div class='git-repo-tile__content-repo-name'>
                    very-long-repository-name-and very long
                </div>
                <div class="git-repo-tile__content-org-name">
                    ktsstudio
                </div>
                <div class='git-repo-tile__content-params-name'>
                    <label class="git-repo-tile__star"></label>
                    <div class="git-repo-tile__num-star">
                        123
                    </div>
                    <div class="git-repo-tile__update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git-repo-tile'>
            <div class="git-repo-tile__background">
                <div class="git-repo-tile__background-first-letter">K</div>
            </div>
            <div class="git-repo-tile__avatar"></div>
            <div class='git-repo-tile__content'>
                <div class='git-repo-tile__content-repo-name'>
                    very-long-repository-name-and very long
                </div>
                <div class="git-repo-tile__content-org-name">
                    ktsstudio
                </div>
                <div class='git-repo-tile__content-params-name'>
                    <label class="git-repo-tile__star"></label>
                    <div class="git-repo-tile__num-star">
                        123
                    </div>
                    <div class="git-repo-tile__update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git-repo-tile'>
            <div class="git-repo-tile__background">
                <div class="git-repo-tile__background-first-letter">K</div>
            </div>
            <div class="git-repo-tile__avatar"></div>
            <div class='git-repo-tile__content'>
                <div class='git-repo-tile__content-repo-name'>
                    very-long-repository-name-and very long
                </div>
                <div class="git-repo-tile__content-org-name">
                    ktsstudio
                </div>
                <div class='git-repo-tile__content-params-name'>
                    <label class="git-repo-tile__star"></label>
                    <div class="git-repo-tile__num-star">
                        123
                    </div>
                    <div class="git-repo-tile__update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git-repo-tile'>
            <div class="git-repo-tile__background">
                <div class="git-repo-tile__background-first-letter">K</div>
            </div>
            <div class="git-repo-tile__avatar"></div>
            <div class='git-repo-tile__content'>
                <div class='git-repo-tile__content-repo-name'>
                    very-long-repository-name-and very long
                </div>
                <div class="git-repo-tile__content-org-name">
                    ktsstudio
                </div>
                <div class='git-repo-tile__content-params-name'>
                    <label class="git-repo-tile__star"></label>
                    <div class="git-repo-tile__num-star">
                        123
                    </div>
                    <div class="git-repo-tile__update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
        <div class='git-repo-tile'>
            <div class="git-repo-tile__background">
                <div class="git-repo-tile__background-first-letter">K</div>
            </div>
            <div class="git-repo-tile__avatar"></div>
            <div class='git-repo-tile__content'>
                <div class='git-repo-tile__content-repo-name'>
                    very-long-repository-name-and very long
                </div>
                <div class="git-repo-tile__content-org-name">
                    ktsstudio
                </div>
                <div class='git-repo-tile__content-params-name'>
                    <label class="git-repo-tile__star"></label>
                    <div class="git-repo-tile__num-star">
                        123
                    </div>
                    <div class="git-repo-tile__update">
                        Updated 21 Jul
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>